@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-clr: #fafafa;
  --black-clr: #000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--black-clr);
  color: var(--white-clr);
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1275px;
  margin-inline: auto;
  height: 100vh;
  padding: 0 1rem;
}

/* LEFT SIDEBAR */

.d-flex {
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  position: fixed;
  height: 100%;
  /* width: 20%; */
  width: 250px;
  padding: 2.5rem 0;
  border-right: 1px solid #333;
  background-color: green;
}

.middle {
  background-color: purple;
  height: 100vh;
  width: 100%;
}

.right-sidebar {
  background-color: orange;
  height: 100vh;
  /* width: 35%; */
  width: 350px;
}

.left-sidebar .logo {
  margin-bottom: 2rem;
  padding-left: 0.6rem;
}

.left-sidebar li:not(:last-child) {
  margin-bottom: 0.6rem;
}

.left-sidebar li:last-child {
  margin-top: 2rem;
}

.left-sidebar li a {
  display: inline-flex;
  align-items: center;
  color: var(--white-clr);
  padding: 0.7rem 5rem 0.7rem 0.6rem;
  border-radius: 10rem;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.left-sidebar li a svg,
.left-sidebar li a img {
  transition: transform 0.3s ease;
}

.left-sidebar .message,
.left-sidebar .notification {
  position: relative;
}

.left-sidebar .message::after,
.left-sidebar .notification::after {
  border-radius: 50%;
  background-color: #ff3040;
  border: 2px solid var(--black-clr);
  position: absolute;
}

.left-sidebar .message::after {
  content: '2';
  height: 17px;
  width: 17px;
  top: 0.2rem;
  left: 1.2rem;
  font-size: 0.7rem;
  display: grid;
  place-content: center;
}

.left-sidebar .notification::after {
  content: '';
  height: 9px;
  width: 9px;
  top: 0.6rem;
  left: 1.5rem;
}

.left-sidebar .active {
  font-weight: 700;
}

.left-sidebar li a span {
  margin-left: 1rem;
}

.left-sidebar .nav img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.left-sidebar .nav a:hover {
  background-color: rgb(18, 18, 18);
}

.left-sidebar .nav a:hover svg,
.left-sidebar .nav a:hover img {
  transform: scale(1.1);
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
}
